<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.taobao.tae.Mshopping.demo"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                 android:allowBackup="true">
        <activity android:name="com.taobao.tae.Mshopping.demo.activity.LoadActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.taobao.tae.Mshopping.demo.activity.HomeActivity"
                android:label="@string/title_activity_home" >
        </activity>
        <activity
                android:name="com.taobao.tae.Mshopping.demo.activity.IndexActivity"
                android:label="@string/title_activity_index" >
        </activity>
        <activity
                android:name="com.taobao.tae.Mshopping.demo.activity.CategoryActivity"
                android:label="@string/title_activity_category" >
        </activity>
        <activity
                android:name="com.taobao.tae.Mshopping.demo.activity.PersonalActivity"
                android:label="@string/title_activity_personal" >
        </activity>
        <activity
                android:name=".activity.ItemDetailActivity"
                android:label="@string/title_activity_tabao" >
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
